html {
    background-color: #ffffff;
    scroll-behavior: smooth;
}

.bg-light {
    background-color: #ffffff!important;
}

.navbar {
    padding: 1.1rem 1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #358dde;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #003970;
}

@media (min-width: 992px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .navbar-brand {
        margin-right: 100px;
    }
}

section.main {
    padding-top: 100px;
}

@media(min-width: 767px) {
    section.main {
        padding-top: 150px;
    }
}

h1, .h1 {
    font-weight: normal;
    font-size: 38px;
}

.text-simple-light {
    color: #869ab8;
}

.main .text-simple-light {
    font-size: 18px;
}

.bg-grayblue {
    background-image: linear-gradient(to bottom,#f9fbfd 0,#fff 100%);
}

.bg-gray {
    background-color: #eeeeee;
}

.bg-dark {
    background-color: #3b3b3b;
    color: #e7e7e7;
}

.bg-dark a {
    color: #e0e0e0;
}

.bg-graylight {
    background-image: linear-gradient(to bottom,#f9fbfd 0,#fff 100%);
}

/** master head blocks **/
.mh-ico {
    text-align: center;
}

.mh-ico i {
    color: rgb(37, 86, 179);
}

.mh-title {
    text-align: center;
    font-size: 24px;
}

.mh-desc {
    color: #677488;
    text-align: justify;
}

.col-center h1, .col-center .h1, .col-center h2, .col-center .h2, .col-center h3, .col-center .h3 {
    text-align: center;
}

.project {
    padding-top: 0.5rem;
    margin-bottom: 2rem;
}

.project .project-head {
    color: #335eea;
}

.text-contacts {
    font-size: 21px;
}

.text-gray {
    color: #636363;
}

ul.list-padding > li {
    padding-bottom: 1em;
}